main {
  height: 100%;
}

.loadingScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterBar {
  background: var(--content-background-color);
  height: 35pt;
  display: flex;
  align-items: center;
  padding: 0 10pt;
}

.filterBar .filter {
  background: var(--page-background-color);
  border-radius: 10pt;
  height: 20pt;
  padding: 1pt 8pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBar .filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--page-background-color);
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 0;
  height: 100%;
  margin-left: 5pt;
  color: var(--primary-text-color);
}

.filterBar .filter select:focus {
  outline: none;
}

.resultsContainer {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 20pt) / 3));
  gap: 10pt;
  padding: 10pt;
}

.resultsContainer .result {
  background: var(--content-background-color);
  border-radius: 10pt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 10pt;
  cursor: pointer;
}

.resultsContainer .result .headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 5pt 0;
}

.resultsContainer .result .headerContainer * {
  margin: 0;
}

.resultsContainer .result .headerContainer .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultsContainer .result .headerContainer .type {
  margin-left: 2pt;
}

.resultsContainer .result .author {
  margin: 0;
}
