main {
  height: 100%;
}

.loadingScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterBar {
  background: var(--content-background-color);
  height: 35pt;
  display: flex;
  align-items: center;
  padding: 0 10pt;
}

.filterBar .filter {
  background: var(--page-background-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 10pt;
  height: 20pt;
  padding: 1pt 8pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBar .filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--page-background-color);
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 0;
  height: 100%;
  margin-left: 5pt;
}

.filterBar .filter select:focus {
  outline: none;
}
