@import url("https://css.gg/css");

:root {
  --page-background-color: #ffffff;
  --secondary-page-background-color: #f0f0f0;
  --content-background-color: #eeeeee;
  --secondary-content-background-color: #cccccc;
  --primary-text-color: #000000;
  --secondary-text-color: #555555;
  --shadow-color: #555555;

  --color-1: rgb(194, 227, 239);
  --color-2: rgb(94, 157, 191);
  --color-3: rgb(58, 53, 45);
  --destructive-color: #ff6f66;
  --secondary-destructive-color: #FF463E;
  --main-gradient: linear-gradient(to bottom right,
      var(--color-1) 0%,
      var(--color-2) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: #000000;
    --secondary-page-background-color: #111111;
    --content-background-color: #222222;
    --secondary-content-background-color: #444444;
    --primary-text-color: #ffffff;
    --secondary-text-color: #aaaaaa;
    --shadow-color: #000000;
  }
}

/* CSS.gg corrections */
.gg-home {
  margin-bottom: -6.5px;
}

.gg-share {
  margin-left: -8px;
}

.hidden {
  display: none !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--page-background-color);
  color: var(--primary-text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.loadingAnimationEllipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loadingAnimationEllipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--primary-text-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loadingAnimationEllipsis div:nth-child(1) {
  left: 8px;
  animation: loadingAnimation1 0.6s infinite;
}

.loadingAnimationEllipsis div:nth-child(2) {
  left: 8px;
  animation: loadingAnimation2 0.6s infinite;
}

.loadingAnimationEllipsis div:nth-child(3) {
  left: 32px;
  animation: loadingAnimation2 0.6s infinite;
}

.loadingAnimationEllipsis div:nth-child(4) {
  left: 56px;
  animation: loadingAnimation3 0.6s infinite;
}

@keyframes loadingAnimation1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loadingAnimation3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loadingAnimation2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.listItem {
  background: var(--content-background-color);
  padding: 5pt;
  border-radius: 10pt;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listItem img {
  width: 50pt;
  margin: 10pt 10pt 10pt 5pt;
  background: var(--page-background-color);
  border-radius: 5pt;
}

.listItem picture>img {
  padding: 5pt;
}

.listItem .right {
  width: 100%;
  overflow: hidden;
}

.listItem .right .scene {
  background: var(--secondary-content-background-color);
  font-size: 11pt;
  padding: 1pt 2pt;
  border-radius: 2pt;
  margin: 0 0 2.5pt 0;
  display: inline-block;
}

.listItem .right .name {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItem .right .infoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2.5pt;
  white-space: nowrap;
}

.listItem .right .infoContainer * {
  margin: 0;
}

.listItem .right .infoContainer *:not(:last-child)::after {
  content: "•";
  margin: 0 5pt;
}

.listItem .right .infoContainer *:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  width: 100%;
  background: var(--color-3);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 5pt;
  padding: 15pt;
}

footer>* {
  width: calc(50% - 10pt);
}

footer .left {
  text-align: left;
}

footer .right {
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

footer .logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15pt;
}

footer .logo {
  height: 50pt;
  width: auto;
  margin: 0;
  cursor: pointer;
}

footer .links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5pt;
}

footer .links .link {
  background: var(--page-background-color);
  width: 30pt;
  height: 30pt;
  border-radius: 5pt;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

footer .links .link picture.regular {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .links .link img.hover {
  display: none;
}

footer .links .link:hover picture.regular {
  display: none;
}

footer .links .link:hover img.hover {
  display: block;
}

footer .links .link.email:hover {
  background: #63a16d;
}

footer .links .link.youtube:hover {
  background: #ff0000;
}

footer .links .link.discord:hover {
  background: #5865f2;
}

footer .credits {
  margin-bottom: 5pt;
  cursor: default;
}

footer .credits h3 {
  margin: 5pt 0 0 0;
}

footer .credits a {
  color: white;
  text-decoration: none;
  margin: 0 0 0 5pt;
}

@media only screen and (max-width: 770px) {
  footer {
    flex-direction: column;
    gap: 0;
  }

  footer>* {
    width: 100%;
    text-align: center !important;
  }

  footer .right {
    align-items: center;
  }

  footer .logoContainer {
    flex-direction: column;
    gap: 5pt;
  }

  footer .links {
    margin-bottom: 10pt;
  }

  footer .credits a {
    margin: 0 5pt;
  }
}

body.noScroll {
  overflow: hidden;
}

header.globalHeader {
  background: var(--content-background-color);
  width: 100%;
  height: 55pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20pt;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

header.globalHeader~main {
  --header-height: 55pt;
}

header.globalHeader .logo {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

header.globalHeader .logo img {
  height: 50pt;
  width: auto;
  transition: opacity 0.2s ease;
}

@media (max-width: 745px) and (min-width: 601px) {
  header.globalHeader.searchActive .logo {
    opacity: 0;
  }
}

header.globalHeader .links {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

header.globalHeader.searchActive .links {
  opacity: 0;
  pointer-events: none;
}

header.globalHeader .links .current {
  background: var(--secondary-content-background-color);
}

header.globalHeader .links>* {
  background: var(--page-background-color);
  color: inherit;
  text-decoration: none;
  font-size: 10pt;
  font-family: inherit;
  font-weight: bold;
  padding: 5pt 10pt;
  border-radius: 5pt;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header.globalHeader .links>*:not(:last-child) {
  margin-right: 5pt;
}

header.globalHeader .links>*:hover {
  background: var(--secondary-content-background-color);
}

header.globalHeader .links .search {
  border-radius: 50%;
  padding: 0;
  height: 30pt;
  width: 30pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.globalHeader .searchBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

header.globalHeader.searchActive .searchBox {
  outline: none;
  opacity: 1;
  pointer-events: all;
}

header.globalHeader .searchBox .searchField {
  background: var(--page-background-color);
  border: none;
  border-radius: 10pt;
  padding: 10pt;
  font-family: inherit;
  height: 30pt;
  width: 200pt;
  color: inherit;
}

header.globalHeader .searchBox .searchField:focus {
  outline: none;
}

header.globalHeader .searchBox .clearButton {
  position: absolute;
  height: 18pt;
  width: 18pt;
  top: 6pt;
  right: 6pt;
  background: var(--content-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

header.globalHeader.searchActive .searchBox .clearButton {
  opacity: 1;
  pointer-events: auto;
}

header.globalHeader.searchActive~.searchResultsContainer {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, 0);
}

.searchResultsContainer {
  position: fixed;
  top: 55pt;
  left: 50vw;
  transform: translate(-50%, -200pt);
  width: calc(100% - 20pt);
  max-width: 500px;
  height: calc(100% - 75pt);
  max-height: 500pt;
  box-shadow: 0 0 25pt var(--shadow-color);
  border-radius: 0 0 10pt 10pt;
  background: var(--content-background-color);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchResultsContainer .loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.searchResultsContainer .errorMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.searchResultsContainer .errorMessageContainer .title {
  margin: 0 0 10pt 0;
}

.searchResultsContainer .errorMessageContainer .subtitle {
  margin: 0;
}

.searchResultsContainer .listItem {
  background: var(--page-background-color);
  margin: 10pt;
}

main {
  margin-top: 55pt;
}

.itemDetailsContainer {
  background: var(--page-background-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  max-width: 900pt;
  height: 85vh;
  max-height: 650pt;
  border-radius: 10pt;
  box-shadow: 0 0 20px var(--shadow-color);
  z-index: 6;
  overflow: hidden;
  transition: all 0.5s ease;
}

.itemDetailsContainer iframe {
  width: 100%;
  height: 100%;
}

.itemDetailsContainer.hidden {
  top: calc(100vh + 20px);
  transform: translate(-50%, 0);
  display: block !important;
}

.notification {
  background: var(--content-background-color);
  position: fixed;
  top: 10pt;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 5pt 10pt 5pt 5pt;
  width: fit-content;
  max-width: calc(100% - 20pt);
  height: 40pt;
  border-radius: 20pt;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 5px var(--shadow-color);
  z-index: 7;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.notification.destructive {
  background: var(--destructive-color);
  color: white;
}

.notification.progress {
  animation: notification-pulse 1s infinite;
}

@keyframes notification-pulse {
  0% {
    background: var(--content-background-color);
  }

  50% {
    background: var(--page-background-color);
  }

  100% {
    background: var(--content-background-color);
  }
}

.notification.hidden {
  display: flex !important;
  opacity: 0;
  transform: translate(-50%, -60pt);
  transition-timing-function: ease-in;
}

.notification .icon {
  width: 30pt;
  height: 30pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notification p {
  margin: 0;
}

.notification p.title {
  font-weight: bold;
}

.notification p.message {
  font-size: 10pt;
}

.dialog {
  background: var(--content-background-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 400pt;
  padding: 20pt;
  border-radius: 10pt;
  box-shadow: 0 0 20px var(--shadow-color);
  z-index: 6;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dialog.hidden {
  transform: translate(-50%, 20pt);
  opacity: 0;
  pointer-events: none;
  display: block !important;
}

.dialog .title {
  margin: 0 0 10pt 0;
}

.dialog .message {
  margin: 0 0 10pt 0;
  white-space: pre-line;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.dialog .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog input {
  background: var(--page-background-color);
  border: none;
  border-radius: 10pt;
  padding: 10pt;
  margin-bottom: 10pt;
  font: inherit;
  font-size: 11pt;
  height: 30pt;
  width: 100%;
  color: inherit;
}

.dialog input:focus {
  outline: none;
}

.dialog .buttonContainer button {
  margin: 0 0 0 10pt;
  padding: 5pt 10pt;
  border-radius: 5pt;
  border: none;
  background: var(--page-background-color);
  color: var(--primary-text-color);
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease;
}

.dialog .buttonContainer button.active {
  background: var(--color-1);
  color: black;
}

@media (prefers-color-scheme: dark) {
  .dialog .buttonContainer button.active {
    background: var(--color-2);
  }
}

.dialog .buttonContainer button.destructive {
  background: var(--destructive-color);
  color: white;
}

.dialog .buttonContainer button:hover {
  background: var(--content-background-color);
  color: var(--primary-text-color);
}

.contextMenu {
  background: var(--content-background-color);
  position: fixed;
  width: calc(100vw - 20pt);
  max-width: 150pt;
  padding: 5pt;
  border-radius: 10pt;
  box-shadow: 0 0 20px var(--shadow-color);
  z-index: 8;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contextMenu.hidden {
  transform: translate(0, 20pt);
  opacity: 0;
  pointer-events: none;
  display: block !important;
}

.contextMenu>div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 2.5pt 10pt;
  border-radius: 5pt;
  border: none;
  background: var(--page-background-color);
  color: var(--primary-text-color);
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.contextMenu>div:not(:last-child) {
  margin-bottom: 5pt;
}

.contextMenu>div .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10pt;
  width: 20pt;
  height: 20pt;
}

.contextMenu>div p {
  margin: 0;
}

.contextMenu>div.active {
  background: var(--color-1);
  color: black;
}

@media (prefers-color-scheme: dark) {
  .contextMenu>div.active {
    background: var(--color-2);
  }
}

.contextMenu>div.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: normal;
}

.contextMenu>div.destructive {
  background: var(--destructive-color);
  color: white;
}

.contextMenu>div:hover {
  background: var(--content-background-color);
  color: var(--primary-text-color);
}

.contextMenu>div.destructive:hover {
  background: var(--secondary-destructive-color);
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-color);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: opacity 0.2s ease;
}

.itemDetailsContainer:not(.hidden)+.overlay,
.dialog:not(.hidden)+.overlay,
.overlay.show {
  opacity: 0.5;
  pointer-events: auto;
  display: block !important;
}

@media only screen and (max-width: 600px) {
  header {
    height: 100pt;
    flex-direction: column;
    padding: 10pt 10pt 5pt 10pt;
  }

  header .logo,
  header .links {
    margin: 0;
  }

  header .linksContainer {
    width: 100vw;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  header .linksContainer::-webkit-scrollbar {
    display: none;
  }

  header .linksContainer .links {
    padding: 0 10pt;
    min-width: 100vw;
    width: fit-content;
  }

  header .searchBox {
    top: unset;
    bottom: 5pt;
    transform: translate(-50%, 0);
  }

  .searchResultsContainer {
    top: 100pt;
    height: calc(100% - 100pt);
    width: 100%;
    max-width: none;
    background: var(--page-background-color);
    border-radius: 0;
  }

  main {
    margin-top: 100pt;
  }

  .itemDetailsContainer {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}