header {
  position: absolute;
  justify-content: center;
  background: transparent;
}

header .logo {
  display: none;
}

header .links > * {
  background: rgba(300, 300, 300, 0.5);
  color: black;
}

header .links > *.current {
  background: rgba(300, 300, 300, 0.8);
}

header .links > *:hover {
  background: rgba(300, 300, 300, 0.8);
}

header .searchBox .searchField {
  background: rgba(300, 300, 300, 0.8);
  color: black;
  font-weight: bold;
  transition: background 0.2s ease;
}

header .searchBox .clearButton {
  background: white;
}

.searchResultsContainer {
  border-radius: 10pt;
  transform: translate(-50%, 50pt);
}

main {
  margin-top: 0;
}

main section.header {
  position: relative;
  height: calc(45vh + 55pt);
  min-height: 200px;
  overflow: hidden;
}

main section.header > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main section.header .background {
  filter: blur(5px);
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  transform: scale(1.8);
}

main section.header .foreground {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  mix-blend-mode: screen;
  background: black;
}

main section.header .foreground video,
main section.header .foreground img {
  width: 75vw;
  max-width: 500px;
  transform: translate(0, 20pt);
}

section.featured {
  padding: 20pt 0 0 0;
}

section.featured:last-child {
  margin-bottom: 20pt;
}

section.featured .header {
  width: calc(100% - 40pt);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20pt 20pt;
}

section.featured .header h1 {
  margin: 0 0 0 10pt;
}

section.featured .header button {
  background: var(--content-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 10pt;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 5pt 20pt;
  cursor: pointer;
}

section.featured .loading {
  height: 155pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.featured .error {
  height: 155pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.featured .error h2 {
  margin: 0 0 10pt 0;
}

section.featured .error p {
  margin: 0;
}

section.featured .content {
  white-space: nowrap;
  overflow-x: scroll;
}

section.featured .content .item:first-child {
  margin-left: 20pt;
}

section.featured .content .item {
  width: 200pt;
  height: 170pt;
  background: var(--content-background-color);
  border-radius: 10pt;
  overflow: hidden;
  margin-right: 20pt;
  display: inline-block;
  cursor: pointer;
}

section.featured.news .content .item {
  width: 400pt;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

section.featured.news .content .item .imageContainer {
  width: 180pt;
  margin: 10pt 5pt 10pt 10pt;
}

section.featured.news .content .item .imageContainer img {
  aspect-ratio: 16 / 9;
  width: 180pt;
  height: auto;
  border-radius: 5pt;
}

section.featured.news .content .item .info {
  min-width: 0;
  white-space: normal;
}

section.featured.news .content .item .info .publicationDate {
  margin: 0 0 2.5pt 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

section.featured.news .content .item .info .subtitle {
  margin: 0;
  font-weight: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.featured .content .item .imageContainer {
  width: 100%;
  height: 100pt;
  background: var(--secondary-content-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

section.featured.databaseAdditions .content .item .imageContainer > img {
  width: 100%;
  height: 100pt;
  object-fit: cover;
}

section.featured .content .item .imageContainer picture img {
  width: 70pt;
  height: 70pt;
}

section.featured .content .item .info {
  padding: 10pt;
}

section.featured .content .item .info .scene {
  background: var(--secondary-content-background-color);
  font-size: 11pt;
  padding: 1pt 2pt;
  border-radius: 2pt;
  margin: 0 0 2.5pt 0;
  display: inline-block;
}

section.featured .content .item .info .title {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.featured .content .item .info .infoContainer {
  margin: 1.5pt 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

section.featured .content .item .info .infoContainer * {
  margin: 0;
}

section.featured .content .item .info .infoContainer *:not(:last-child)::after {
  content: "•";
  margin: 0 5pt;
}

section.featured .content .item .info .infoContainer *:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  header {
    height: 55pt;
    transition: background 0.2s ease;
  }

  header.searchActive {
    background: var(--content-background-color);
  }

  header .searchBox {
    top: 50%;
    bottom: unset;
    transform: translate(-50%, -50%);
  }

  .searchResultsContainer {
    top: 55pt;
    height: calc(100% - 55pt);
    border-radius: 0;
  }

  main {
    margin-top: 0;
  }

  main section.header .foreground video {
    width: 65vw;
  }

  section.featured .header h1 {
    margin: 0;
  }
}
