body.konami {
  --page-background-color: #BF7059;
  --secondary-page-background-color: #D17F57;
  --content-background-color: #BF7059;
  --secondary-content-background-color: #D17F57;
  --primary-text-color: white;
  --secondary-text-color: #dddddd;
  --shadow-color: #555555;

  --color-1: #636a4b;
}

body.konami main section.featured {
  background: linear-gradient(to bottom,
      var(--color-1) 0%,
      var(--page-background-color) 6%,
      var(--secondary-page-background-color) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20pt;
}

body.konami main section.waitTimes {
  background-image: url("/images/konami/rock3.jpg");
}

body.konami main section:nth-child(3) {
  background-image: url("/images/konami/rock4.jpg");
}

body.konami main section:nth-child(4) {
  background-image: url("/images/konami/rock1.jpg");
}

body.konami main section.waitTimes .content>div,
body.konami main section.featured .content .item {
  border-top: 10px solid var(--color-1);
}

header.globalHeader {
  position: absolute;
  justify-content: center;
  background: transparent;
}

header.globalHeader .logo {
  display: none;
}

header.globalHeader .links>* {
  background: rgba(300, 300, 300, 0.5);
  color: black;
}

header.globalHeader .links>*.current,
header.globalHeader .links>*:hover {
  background: rgba(300, 300, 300, 0.8);
}

header.globalHeader .searchBox .searchField {
  background: rgba(300, 300, 300, 0.8);
  color: black;
  font-weight: bold;
  transition: background 0.2s ease;
}

header.globalHeader .searchBox .clearButton {
  background: var(--page-background-color);
}

.searchResultsContainer {
  border-radius: 10pt;
  transform: translate(-50%, 50pt);
}

main {
  padding: 0;
  display: flex;
  flex-direction: column;
}

section.header {
  position: relative;
  height: calc(45vh + 55pt);
  min-height: 200pt;
  overflow: hidden;
}

section.header>* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section.header .background {
  filter: blur(5px);
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  transform: scale(1.8);
}

@media (prefers-color-scheme: dark) {
  section.header .background {
    background-image: url("/images/header-night.jpg");
  }
}

section.header .foreground {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 2;
}

section.header .foreground img {
  width: 75vw;
  max-width: 500px;
}

section.featured.waitTimes .loading,
section.featured.waitTimes .error {
  height: 85pt;
}

section.waitTimes .content>div {
  background: var(--content-background-color);
  border-radius: 10pt;
  padding: 5pt 10pt;
  text-align: left;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.5pt;
}

section.waitTimes .content div .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.waitTimes .content div h1,
section.waitTimes .content div p {
  margin: 0;
}

section.waitTimes .content div p.updatedTime {
  font-size: 9pt;
  font-style: italic;
  color: var(--secondary-text-color);
}

section.featured {
  display: flex;
  flex-direction: column;
  gap: 5pt;
  padding: 10pt;
}

section.featured .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.featured .header button {
  background: var(--content-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 10pt;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 5pt 20pt;
  cursor: pointer;
}

section.featured .loading {
  height: 155pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.featured .error {
  height: 155pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.featured .error h2 {
  margin: 0 0 10pt 0;
}

section.featured .error p {
  margin: 0;
}

section.featured .content {
  display: grid;
  gap: 20pt;
}

section.featured.waitTimes .content {
  display: flex;
}

section.featured.news .content {
  grid-template-columns: repeat(3, 1fr);
}

section.featured.databaseAdditions .content {
  grid-template-columns: repeat(6, 1fr);
}

section.featured .content .item {
  background: var(--content-background-color);
  border-radius: 10pt;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

section.featured.news .content .item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

section.featured.news .content .item .imageContainer {
  width: 150pt;
  margin: 10pt 5pt 10pt 10pt;
}

section.featured.news .content .item .imageContainer img {
  aspect-ratio: 16 / 9;
  width: 150pt;
  height: auto;
  border-radius: 5pt;
}

section.featured.news .content .item .info {
  min-width: 0;
  white-space: normal;
}

section.featured.news .content .item .info .publicationDate {
  margin: 2pt 0 2.5pt 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 9pt;
  font-style: italic;
  color: var(--secondary-text-color);
}

section.featured.news .content .item .info .title {
  display: block;
}

section.featured.news .content .item .info .subtitle {
  margin: 0;
  font-weight: normal;
  text-overflow: ellipsis;
}

section.featured.databaseAdditions .content .item .imageContainer {
  width: 100%;
  height: 100pt;
  background: var(--secondary-content-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

section.featured.databaseAdditions .content .item .imageContainer>img {
  width: 100%;
  height: 100pt;
  object-fit: cover;
}

section.featured .content .item .imageContainer picture img {
  width: 70pt;
  height: 70pt;
}

section.featured .content .item .info {
  padding: 10pt;
}

section.featured .content .item .info .scene {
  background: var(--secondary-content-background-color);
  font-size: 11pt;
  padding: 1pt 2pt;
  border-radius: 2pt;
  margin: 0 0 2.5pt 0;
  display: inline-block;
}

section.featured .content .item .info .title {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.featured .content .item .info .infoContainer {
  margin: 1.5pt 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

section.featured .content .item .info .infoContainer * {
  margin: 0;
}

section.featured .content .item .info .infoContainer *:not(:last-child)::after {
  content: "•";
  margin: 0 5pt;
}

section.featured .content .item .info .infoContainer *:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 1200px) {
  section.featured.databaseAdditions .content {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 992px) {
  section.featured.news .content {
    grid-template-columns: repeat(2, 1fr);
  }

  section.featured.databaseAdditions .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  header.globalHeader {
    height: 55pt;
    transition: background 0.2s ease;
  }

  header.globalHeader.searchActive {
    background: var(--content-background-color);
  }

  header.globalHeader .searchBox {
    top: 50%;
    bottom: unset;
    transform: translate(-50%, -50%);
  }

  .searchResultsContainer {
    top: 55pt;
    height: calc(100% - 55pt);
    border-radius: 0;
  }

  section.featured.waitTimes .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  section.featured.news .content {
    grid-template-columns: repeat(1, 1fr);
  }

  section.featured.databaseAdditions .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  section.featured.databaseAdditions .content {
    grid-template-columns: repeat(2, 1fr);
  }
}