body.noScroll {
  overflow: hidden;
}

header {
  background: var(--content-background-color);
  position: relative;
  width: 100%;
  height: 55pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20pt;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

header .logo {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

header .logo img {
  height: 50pt;
  width: auto;
  transition: opacity 0.2s ease;
}

@media (max-width: 745px) and (min-width: 601px) {
  header.searchActive .logo {
    opacity: 0;
  }
}

header .links {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

header.searchActive .links {
  opacity: 0;
  pointer-events: none;
}

header .links .current {
  background: var(--secondary-content-background-color);
}

header .links > * {
  background: var(--page-background-color);
  color: inherit;
  text-decoration: none;
  font-size: 10pt;
  font-family: inherit;
  font-weight: bold;
  padding: 5pt 10pt;
  border-radius: 5pt;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

header .links > *:not(:last-child) {
  margin-right: 5pt;
}

header .links > *:hover {
  background: var(--secondary-content-background-color);
}

header .links .search {
  border-radius: 50%;
  padding: 0;
  height: 30pt;
  width: 30pt;
}

header .links .search picture {
  width: 22px;
  height: 22px;
}

header .links .search picture img {
  /*Balance visually instead of aligning perfectly centered*/
  transform: translate(0, 1px);
}

header .searchBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

header.searchActive .searchBox {
  outline: none;
  opacity: 1;
  pointer-events: all;
}

header .searchBox .searchField {
  background: var(--page-background-color);
  border: none;
  border-radius: 10pt;
  padding: 10pt;
  font-family: inherit;
  height: 30pt;
  width: 200pt;
  color: inherit;
}

header .searchBox .searchField:focus {
  outline: none;
}

header .searchBox .clearButton {
  position: absolute;
  height: 18pt;
  width: 18pt;
  top: 6pt;
  right: 6pt;
  background: var(--content-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

header .searchBox .clearButton picture {
  width: 14px;
  height: 14px;
  display: flex;
}

header.searchActive .searchBox .clearButton {
  opacity: 1;
  pointer-events: auto;
}

header.searchActive ~ .searchResultsContainer {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, 0);
}

.searchResultsContainer {
  position: fixed;
  top: 55pt;
  left: 50vw;
  transform: translate(-50%, -200pt);
  width: calc(100% - 20pt);
  max-width: 500px;
  height: calc(100% - 75pt);
  max-height: 500pt;
  box-shadow: 0 0 25pt var(--shadow-color);
  border-radius: 0 0 10pt 10pt;
  background: var(--content-background-color);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchResultsContainer .loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.searchResultsContainer .errorMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.searchResultsContainer .errorMessageContainer .title {
  margin: 0 0 10pt 0;
}

.searchResultsContainer .errorMessageContainer .subtitle {
  margin: 0;
}

.searchResultsContainer .listItem {
  background: var(--page-background-color);
  margin: 10pt;
}

main {
  margin-top: 55pt;
}

.itemDetailsContainer {
  background: var(--page-background-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  max-width: 900pt;
  height: 85vh;
  max-height: 650pt;
  border-radius: 10pt;
  box-shadow: 0 0 20px var(--shadow-color);
  z-index: 6;
  overflow: hidden;
  transition: all 0.5s ease;
}

.itemDetailsContainer iframe {
  width: 100%;
  height: 100%;
}

.itemDetailsContainer.hidden {
  top: calc(100vh + 20px);
  transform: translate(-50%, 0);
  display: block !important;
}

.dialog {
  background: var(--page-background-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 400pt;
  padding: 20pt;
  border-radius: 10pt;
  box-shadow: 0 0 20px var(--shadow-color);
  z-index: 6;
  overflow: hidden;
  transition: all 0.5s ease;
}

.dialog .title {
  margin: 0 0 10pt 0;
}

.dialog .message {
  margin: 0 0 10pt 0;
}

.dialog .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog input {
  background: var(--content-background-color);
  border: none;
  border-radius: 10pt;
  padding: 10pt;
  margin-bottom: 10pt;
  font: inherit;
  font-size: 11pt;
  height: 30pt;
  width: 100%;
  color: inherit;
}

.dialog input:focus {
  outline: none;
}

.dialog .buttonContainer button {
  margin: 0 0 0 10pt;
  padding: 5pt 10pt;
  border-radius: 5pt;
  border: none;
  background: var(--content-background-color);
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.1s ease;
}

.dialog .buttonContainer button.active {
  background: var(--color-1);
}

.dialog .buttonContainer button.destructive {
  background: var(--destructive-color);
}

.dialog .buttonContainer button:hover {
  background: var(--page-background-color);
}

.dialog.hidden {
  transform: translate(-50%, 20pt);
  opacity: 0;
  pointer-events: none;
  display: block !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-color);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: opacity 0.2s ease;
}

.itemDetailsContainer:not(.hidden) + .overlay,
.dialog:not(.hidden) + .overlay {
  opacity: 0.5;
  pointer-events: auto;
  display: block !important;
}

@media only screen and (max-width: 600px) {
  header {
    height: 100pt;
    flex-direction: column;
    padding: 10pt 10pt 5pt 10pt;
  }

  header .logo,
  header .links {
    margin: 0;
  }

  header .linksContainer {
    width: 100vw;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  header .linksContainer::-webkit-scrollbar {
    display: none;
  }

  header .linksContainer .links {
    padding: 0 10pt;
    min-width: 100vw;
    width: fit-content;
  }

  header .searchBox {
    top: unset;
    bottom: 5pt;
    transform: translate(-50%, 0);
  }

  .searchResultsContainer {
    top: 100pt;
    height: calc(100% - 100pt);
    width: 100%;
    max-width: none;
    background: var(--page-background-color);
    border-radius: 0;
  }

  main {
    margin-top: 100pt;
  }

  .itemDetailsContainer {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
