main section.articleViewer {
    min-height: calc(100vh - 55pt);
}

main {
    overflow: auto;
}

.articleViewer .loadingContainer,
.articleViewer .articleDisplay,
.articleViewer .errorMessageContainer {
    min-height: calc(100vh - 55pt);
}

.articleViewer .loadingContainer,
.articleViewer .errorMessageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.articleViewer .loadingContainer i {
    --ggs: 2.5;
}

.articleViewer .errorMessageContainer {
    flex-direction: column;
}

.articleViewer .errorMessageContainer .title {
    margin: 0 0 10pt 0;
}

.articleViewer .errorMessageContainer .subtitle {
    margin: 0;
}

.articleDisplay {
    max-width: 700pt;
    margin: 0 auto;
    padding: 20pt 20pt;
}

.articleDisplay .articleHeader>* {
    animation: AnimateIn 2s ease both;
}

@keyframes AnimateIn {
    from {
        opacity: 0;
        transform: scale(0) translateY(30pt);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.articleDisplay .articleHeader>img {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 10pt;
    object-fit: cover;
    object-position: center;
    animation-delay: 0.2s;
}

.articleDisplay .articleHeader .title {
    font-size: 35pt;
    margin: 15pt 0 5pt 0;
    animation-delay: 0.5s;
}

.articleDisplay .articleHeader .subtitle {
    font-size: 20pt;
    margin: 0 0 10pt 0;
    animation-delay: 0.7s;
}

.articleDisplay .articleHeader .authorContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    animation-delay: 1.2s;
}

.articleDisplay .articleHeader .authorImage {
    width: 20pt;
    height: 20pt;
    margin: 0 5pt 0 0;
    box-shadow: 0 0 2pt var(--shadow-color);
    border-radius: 5pt;
}

.articleDisplay .articleHeader .authorName {
    margin: 0;
}

.articleDisplay .articleContent {
    animation: ContentAnimateIn 2s ease 3s both;
}

@keyframes ContentAnimateIn {
    from {
        opacity: 0;
        transform: translateY(30pt);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.articleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 12pt;
}

.articleContent>* {
    width: 100%;
    border-radius: 5pt;
    transition: all 0.2s ease;
}

.articleContent .header {
    margin: 15pt 0 5pt 0;
    font-size: 20pt;
    font-weight: bold;
}

.articleContent .subheader {
    margin: 5pt 0;
    font-size: 15pt;
    font-style: italic;
}

.articleContent .header+.subheader {
    margin-top: -2.5pt;
}

.articleContent .imageContainer * {
    width: 100%;
    border-radius: 10pt;
}

.articleContent .quote {
    margin: 5pt 0 2.5pt 0;
    font-size: 15pt;
    font-style: italic;
}

.articleContent .author {
    margin: 0 0 5pt 0;
    font-size: 12pt;
    text-align: end;
    width: fit-content;
    float: right;
}

.articleContent .divider {
    margin: 10pt 0 10pt 0;
    width: 100%;
    height: 3pt;
    border-radius: 1.5pt;
    background: var(--secondary-text-color);
}