main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-background-color);
}

section {
  background: var(--content-background-color);
  width: calc(100% - 10pt);
  max-width: 400pt;
  height: 75%;
  max-height: 250pt;
  padding: 20pt;
  border-radius: 10pt;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.loginPromptContainer .titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10pt;
  margin-bottom: 10pt;
}

section.loginPromptContainer .titleContainer * {
  margin: 0;
}

section.loginPromptContainer .titleContainer .errorMessage {
  color: #ff7e79;
  font-weight: bold;
}

section.loginPromptContainer .loginButton {
  background: #5865f2;
  color: white;
  border: none;
  border-radius: 5pt;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 5pt 20pt;
  cursor: pointer;
}

section.welcomeContainer .profilePicture {
  border-radius: 50%;
  animation: ProfilePictureAnimation 1.2s ease 1s 1 normal both;
}

section.welcomeContainer .name {
  margin: 5pt 0 0 0;
    animation: ProfileTextAnimation 1.1s ease 1.3s 1 normal both;
}

section.welcomeContainer .authLevel {
  color: var(--secondary-text-color);
  margin: 5pt 0 10pt 0;
  animation: ProfileTextAnimation 1s ease 1.5s 1 normal both;
}

@keyframes ProfilePictureAnimation {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ProfileTextAnimation {
  from {
    opacity: 0;
    transform: scale(0) translateY(30pt);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

section.welcomeContainer .continueButton {
  background: var(--page-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 5pt 20pt;
  cursor: pointer;
  animation: ProfileTextAnimation 1s ease 2s 1 normal both;
}

section.welcomeContainer .authLevelWarning {
  margin: 0;
  animation: ProfileTextAnimation 1s ease 2s 1 normal both;
}

@media only screen and (max-width: 600px) {
  main {
    display: block;
    height: auto;
  }

  section {
    width: 100%;
    min-height: 300pt;
    border-radius: none;
    background: var(--page-background-color);
    padding: 20pt 0;
  }

  section.welcomeContainer .continueButton {
    background: var(--content-background-color);
  }
}