section.header {
  padding: 20pt 20pt 10pt 20pt;
}

section.header a.addItem i {
  --ggs: 0.8;
}

section.header a.addItem span {
  margin-left: 2.5pt;
}

main .databaseBrowser {
  min-height: calc(100vh - 55pt);
}

main {
  overflow: auto;
}