main section.databaseBrowser {
  min-height: calc(100vh - 55pt);
}

main {
  overflow: auto;
}

.searchControls {
  margin: 10pt;
  height: 35pt;
  background: var(--content-background-color);
  border-radius: 10pt;
  position: relative;
  overflow: scroll;
}

.searchControls::-webkit-scrollbar {
  display: none;
}

.searchControls {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.controls,
.filterSelect {
  height: 20pt;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 7pt;
  margin-right: 7pt;
  transform: translateY(-50%);
  transition: opacity 0.2s ease;
}

.controls.hidden,
.filterSelect.hidden {
  display: flex !important;
  opacity: 0;
  pointer-events: none;
  right: 0;
}

.searchField {
  margin-right: 10pt;
}

.searchField input {
  border: none;
  height: 20pt;
  background: var(--page-background-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 5pt;
  width: 125pt;
  font: inherit;
  font-size: 10pt;
  border-radius: 5pt;
  transition: background 0.2s ease;
}

.searchField input:focus {
  outline: none;
  background: var(--content-background-color);
}

.filterBar {
  display: flex;
}

.filterBar .filters {
  display: flex;
}

.filterBar .filters .filter {
  background: var(--page-background-color);
  border-radius: 5pt;
  height: 20pt;
  padding: 1pt 3pt 1pt 8pt;
  margin-right: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBar .filters .filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: var(--page-background-color);
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 0;
  height: 100%;
  margin-left: 5pt;
  color: var(--primary-text-color);
}

.filterBar .filters .filter select:focus {
  outline: none;
}

.filterBar .filters .filter .removeButton {
  background: var(--content-background-color);
  border: none;
  border-radius: 3pt;
  font-weight: bold;
  height: 15pt;
  padding: 2pt;
  margin-left: 5pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBar .addFilter {
  background: var(--page-background-color);
  border-radius: 5pt;
  padding: 0 5pt;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterSelect .closeButton {
  background: var(--page-background-color);
  height: 20pt;
  border-radius: 5pt;
  padding: 0 5pt;
  margin-right: 10pt;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterSelect .availableFilters {
  display: flex;
}

.filterSelect .availableFilters .filter {
  background: var(--page-background-color);
  height: 20pt;
  padding: 0 8pt;
  border-radius: 5pt;
  margin-right: 10pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterSelect .availableFilters .filter.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.databaseBrowser .loadingContainer,
.databaseBrowser .resultsContainer,
.databaseBrowser .errorMessageContainer {
  min-height: calc(100vh - 55pt);
}

.databaseBrowser .loadingContainer,
.databaseBrowser .errorMessageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.databaseBrowser .errorMessageContainer {
  flex-direction: column;
}

.databaseBrowser .errorMessageContainer .title {
  margin: 0 0 10pt 0;
}

.databaseBrowser .errorMessageContainer .subtitle {
  margin: 0;
}

.databaseBrowser .resultsContainer {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 20pt) / 3));
  grid-auto-rows: 100pt;
  gap: 10pt;
  padding: 0 10pt 10pt 10pt;
}

.databaseBrowser .resultsContainer .loadMoreButton {
  background: var(--content-background-color);
  border-radius: 10pt;
  cursor: pointer;
  border: none;
  font: inherit;
  font-weight: bold;
}

@media only screen and (max-width: 960px) {
  .databaseBrowser .resultsContainer {
    grid-template-columns: repeat(2, calc((100% - 10pt) / 2));
  }
}

@media only screen and (max-width: 670px) {
  .databaseBrowser .resultsContainer {
    grid-template-columns: 100%;
  }
}
