section {
  padding: 20pt;
  max-width: 700pt;
  margin: auto;
}

section p {
  margin: 0;
}

section.hero {
  width: 100%;
  max-width: none;
  background: var(--main-gradient);
  color: var(--color-3);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-weight: bold;
  min-height: 200pt;
}

@media (prefers-color-scheme: dark) {
  section.hero {
    color: black;
  }
}

section.hero .textContainer {
  max-width: 750pt;
  margin: auto;
}

section.hero h1 {
  font-size: 25pt;
}

.creatorList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10pt;
}

.creatorList a {
  background: var(--content-background-color);
  color: var(--primary-text-color);
  text-decoration: none;
  border-radius: 10pt;
  padding: 15pt;
  display: flex;
  justify-content: space-between;
}

.creatorList .nameContainer {
  display: flex;
  flex-direction: column;
  gap: 5pt;
}

.creatorList .info ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5pt;
  text-align: right;
}

.creatorList img {
  width: 50pt;
  height: 50pt;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .creatorList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .creatorList {
    grid-template-columns: 1fr;
  }
}