section {
  padding: 20pt;
  max-width: 600pt;
  margin: auto;
}

section h1,
section h2 {
  margin: 0 0 10pt 0;
}

section p {
  margin: 0;
}

section a {
  display: block;
  width: fit-content;
  margin: 10pt 0 0 0;
  background: var(--content-background-color);
  color: var(--primary-text-color);
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  padding: 5pt 10pt;
  border-radius: 5pt;
  cursor: pointer;
  transition: all 0.1s ease;
}

section a:first-of-type {
  background: #5f66ea;
  color: #2a2b2e;
}

section a:hover {
  background: var(--page-background-color);
}

section a:first-of-type:hover {
  background: #2a2b2e;
  color: #5f66ea;
}

section.hero {
  width: 100%;
  max-width: none;
  background: var(--main-gradient);
  color: var(--color-3);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-weight: bold;
  min-height: 200pt;
}

@media (prefers-color-scheme: dark) {
  section.hero {
    color: black;
  }
}

section.hero .textContainer {
  max-width: 700pt;
  margin: auto;
}

section.hero h1 {
  font-size: 25pt;
}

section.creators {
  padding: 20pt 0 20pt 0;
}

section.creators>h2 {
  margin-left: 20pt;
}

.creatorList {
  display: block;
  width: fit-content;
  max-width: 100%;
  margin: auto;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0 0 0 20pt;
}

.creatorList .creator {
  width: 250pt;
  margin-right: 20pt;
  background: var(--content-background-color);
  border-radius: 10pt;
  padding: 15pt 15pt 5pt 15pt;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.creatorList .creator.link {
  cursor: pointer;
}

.creatorList .creator .nameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creatorList .creator img {
  width: 50pt;
  height: 50pt;
  border-radius: 50%;
  margin-bottom: 5pt;
}

.creatorList .creator h2 {
  margin: 0 0 0 10pt;
}

.creatorList .creator .info {
  margin-left: 60pt;
  transform: translate(0, -10pt);
}

.creatorList .creator .info ul {
  margin: 0;
  list-style: none;
  padding: 0;
}