header {
  background: var(--content-background-color);
  width: 100%;
  height: 85px;
  padding: 0 10pt 0 10pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div.title h3 {
  margin: 0 0 0 10pt;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > section > div {
  background: var(--content-background-color);
  width: calc(100% - 20pt);
  max-width: 500pt;
  margin-top: 20pt;
  border-radius: 10pt;
  padding: 20pt;
  text-align: center;
}

main > section > div > h1 {
  margin: 0 0 10pt 0;
}

section .formContainer {
  margin-bottom: 20pt;
}

section .responseContainer p {
  margin: 5pt 0 0 0;
}

form {
  width: 100%;
}

fieldset {
  width: 100%;
  margin-top: 10pt;
  border: 1px solid var(--primary-text-color);
  border-radius: 5pt;
  text-align: left;
  padding: 5pt 10pt 0 10pt;
}

fieldset legend {
  width: fit-content;
}

fieldset div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

*:focus {
  outline: none;
}

input,
select,
textarea {
  margin-bottom: 10pt;
}

input {
  font-family: inherit;
}

select {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  outline: none;
  display: grid;
  grid-template-areas: "select";
  grid-area: select;
  align-items: center;
}

textarea {
  resize: vertical;
}

select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--primary-text-color);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  grid-area: select;
  justify-self: end;
}

input[type="file"] {
  width: 100%;
}

input[type="text"],
input[type="url"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea,
select {
  background: var(--page-background-color);
  color: var(--primary-text-color);
  padding: 5pt;
  border-radius: 5pt;
  border: 1px solid var(--primary-text-color);
  width: 100%;
}

*:required:placeholder-shown {
  border-color: #ff7e79;
}

form button {
  margin-top: 10pt;
  width: 100%;
  background: var(--color-1);
  padding: 10pt;
  border: none;
  border-radius: 5pt;
  font-family: inherit;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

form button:disabled {
  background: #ff7e79;
  cursor: not-allowed;
}

.options {
  margin-top: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options button {
  margin: 0;
  padding: 5pt;
  background: transparent;
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 8pt;
  text-decoration: underline;
  color: var(--color-2);
  cursor: pointer;
}

main section.removeItem div.formContainer {
  width: 500pt;
}

.itemPreview img,
.itemPreview p {
  display: block;
  margin: 0 0 10pt 0;
}
