main {
  padding: 20pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section {
  width: 100%;
  max-width: 800pt;
  background: var(--content-background-color);
  padding: 20pt;
  border-radius: 10pt;
}

main section h1 {
  margin: 0;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar .buttons button {
  padding: 5pt 10pt;
  background: var(--page-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  font: inherit;
  font-weight: bold;
}

.tabContainer {
  border: 2px solid var(--primary-text-color);
  border-radius: 10pt;
  padding: 3pt;
  margin: 5pt auto 10pt auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.tabContainer .tab {
  background: var(--page-background-color);
  color: var(--primary-text-color);
  padding: 2pt 5pt;
  border-radius: 5pt;
  font-size: 10pt;
  width: fit-content;
  display: inline-block;
  cursor: pointer;
}

.tabContainer .tab.selected {
  background: var(--secondary-content-background-color);
}

.tabContainer .tab:not(:last-child) {
  margin-right: 5pt;
}

.list .toolbar {
  display: flex;
  gap: 10pt;
}

.list .addItemButton {
  height: 35pt;
  background: var(--page-background-color);
  border-radius: 10pt;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 5pt 10pt;
  cursor: pointer;
}

.list .addItemButton span {
  font-size: 20pt;
  margin-right: 5pt;
}

.list .filters {
  width: 100%;
  background: var(--page-background-color);
  border-radius: 10pt;
  display: flex;
  align-items: center;
  padding: 5pt;
}

.list .filters .searchField input {
  border: none;
  background: var(--content-background-color);
  color: var(--primary-text-color);
  padding: 5pt;
  width: 100%;
  font: inherit;
  font-size: 10pt;
  border-radius: 5pt;
  transition: background 0.2s ease;
}

.list .filters .searchField input:focus {
  outline: none;
  background: var(--page-background-color);
}

.list .filters .optionMenus {
  margin: 0 10pt;
  display: flex;
  align-items: center;
}

.list .filters .optionMenus .optionMenu {
  background: var(--content-background-color);
  border-radius: 5pt;
  height: 20pt;
  padding: 1pt 8pt;
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
}

.list .filters .optionMenus .optionMenu:not(:last-child) {
  margin-right: 10pt;
}

.list .filters .optionMenus .optionMenu select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--content-background-color);
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  cursor: pointer;
  padding: 0;
  height: 100%;
  margin-left: 5pt;
  color: var(--primary-text-color);
}

.list .filters .optionMenus .optionMenu select:focus {
  outline: none;
}

.list .loadingContainer,
.list .resultsContainer,
.list .errorMessageContainer {
  min-height: 200pt;
}

.list .loadingContainer,
.list .errorMessageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list .errorMessageContainer {
  flex-direction: column;
}

.list .errorMessageContainer .title {
  margin: 0 0 10pt 0;
}

.list .errorMessageContainer .subtitle {
  margin: 0;
}

.list .resultsContainer {
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 10pt) / 2));
  grid-auto-rows: 110pt;
  gap: 10pt;
  margin-top: 10pt;
}

.list .resultsContainer .loadMoreButton {
  background: var(--page-background-color);
  color: var(--primary-text-color);
  border-radius: 10pt;
  cursor: pointer;
  border: none;
  font: inherit;
  font-weight: bold;
}

.result {
  background: var(--page-background-color);
  border-radius: 10pt;
  padding: 5pt;
  display: flex;
  align-items: center;
  cursor: pointer;

  /* Fix for rendering bug in Safari */
  transform: translate3d(0, 0, 0);
}

.result.hiddenItem {
  background: var(--content-background-color);
}

.result img {
  width: 50pt;
  margin: 10pt 10pt 10pt 5pt;
  background: var(--page-background-color);
  border-radius: 5pt;
}

.result picture > img {
  padding: 5pt;
}

.result .right {
  width: 100%;
  overflow: hidden;
}

.result .right p {
  margin: 0 0 2pt 0;
}

.result .right .scene {
  background: var(--secondary-content-background-color);
  font-size: 11pt;
  padding: 1pt 5pt;
  border-radius: 2.5pt;
  margin: 0 0 2.5pt 0;
  display: inline-block;
}

.result .right .title,
.result .right .name {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result .right .subtitle {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result .right .description {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result .right .infoContainer {
  margin: 2pt 0 2pt 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.result .right .infoContainer * {
  margin: 0;
}

.result .right .infoContainer *:not(:last-child)::after {
  content: "•";
  margin: 0 5pt;
}

.result .right .infoContainer *:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow-color);
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: opacity 0.2s ease;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: auto;
}

.editorContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 60pt);
  height: calc(100% - 60pt);
  max-width: 800pt;
  max-height: 600pt;
  background: var(--page-background-color);
  border-radius: 10pt;
  z-index: 10;
  overflow: hidden;
  transition: all 0.3s ease;
}

.editorContainer.hidden {
  display: block !important;
  opacity: 0;
  transform: translate(-50%, 50vh);
}

.editorContainer iframe {
  width: 100%;
  height: 100%;
}
