main {
  width: 100%;
  height: calc(100vh - 45pt);
  min-height: 500pt;
  background: var(--main-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main section {
  max-width: min(500pt, calc(100vw - 20pt));
}

main section.finalCountdown .title {
  font-size: 100pt;
  border-radius: 15pt;
  width: 200pt;
  text-align: center;
}

main section.finalCountdown .subtitle,
main section.finalCountdown .description,
main section.finalCountdown ~ .link {
  display: none;
}

.title,
.subtitle {
  background: white;
  color: black;
  padding: 5pt;
  margin: 0 0 5pt 0;
  width: fit-content;
  border-radius: 2pt;
}

.description {
  margin: 10pt 0 15pt 0;
  color: black;
  font-weight: bold;
}

.link {
  background: #222222;
  color: white;
  font-weight: bold;
  padding: 5pt;
  border-radius: 2pt;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: white;
}
