main {
  height: calc(100vh - 50pt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section {
  width: calc(100% - 40pt);
  max-width: fit-content;
  background: var(--content-background-color);
  padding: 20pt;
  border-radius: 10pt;
}

main section.finalCountdown {
  width: fit-content;
}

main section .title {
  font-size: 25pt;
  margin: 0 0 10pt 0;
}

main section .subtitle {
  margin: 0 0 10pt 0;
}

main section p {
  margin: 0;
}

main section.finalCountdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section.finalCountdown .title {
  margin: 0;
}

main section.finalCountdown .subtitle,
main section.finalCountdown p {
  display: none;
}

main a {
  display: block;
  margin: 10pt 0 0 0;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: var(--color-2);
  font-size: 10pt;
}
