main {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 40pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20pt;
  background: var(--content-background-color);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header i {
  --ggs: 1.5;
  cursor: pointer;
}

header.hidden {
  display: flex !important;
  transform: translateY(100%);
  opacity: 0;
}

.contentContainer {
  width: 100%;
}

.contentContainer > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingScreen {
  height: calc(100vh - 40pt);
}

.errorScreen {
  height: calc(100vh - 40pt);
}

.errorMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorMessageContainer p {
  margin: 10pt 0 0 0;
  font-weight: bold;
  max-width: 100pt;
  text-align: center;
}

.contentContainer .contentDisplay {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 40pt);
  background: var(--content-background-color);
  overflow: hidden;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

.contentContainer .contentDisplay.invisible {
  opacity: 0;
  transform: translateY(100pt);
}

.contentContainer .contentDisplay h2 {
  padding: 0 20pt;
}

.contentContainer .contentDisplay > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contentDisplay .thumbnail ~ .loadingContainer {
  position: absolute;
  bottom: 10pt;
  left: 50%;
  transform: translate(-50%, 0);
  background: var(--content-background-color);
  border-radius: 5pt;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10pt;
  height: 35pt;
  transition: opacity 0.2s ease;
  cursor: none;
}

.contentDisplay .thumbnail ~ .loadingContainer:hover {
  opacity: 0;
}

.contentDisplay .thumbnail ~ .loadingContainer .loadingAnimationContainer {
  position: absolute;
  left: -5pt;
  top: calc(50% + 1pt);
  transform: translate(0, -50%) scale(0.5);
}

.contentDisplay .thumbnail ~ .loadingContainer p {
  margin: 0 0 0 35pt;
}

.contentDisplay .videoContainer {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.contentDisplay .videoContainer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.audioControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10pt;
  background: var(--content-background-color);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.audioControls .pausePlayButton {
  background: var(--page-background-color);
  border: none;
  border-radius: 50%;
  width: 30pt;
  height: 30pt;
  cursor: pointer;
}

.audioControls .pausePlayButton picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audioControls .pausePlayButton.playing picture.play {
  display: none;
}

.audioControls .pausePlayButton:not(.playing) picture.pause {
  display: none;
}

.audioControls .progressBar {
  height: 10pt;
  width: calc(100% - 40pt);
  margin: 30px 0;
  border-radius: 10pt;
  position: relative;
  background: var(--page-background-color);
}

.audioControls .progressBar .progressBarFill {
  border-radius: 10pt 0 0 10pt;
  height: 100%;
  background: var(--shadow-color);
  width: 0;
}

.audioControls .progressBar .progressBarInput {
  width: 100%;
  position: absolute;
  height: 20px;
  top: 0;
  margin-top: -4px;
  left: 0;
}

.audioControls .progressBar .progressBarInput::-webkit-slider-thumb {
  border: 2px solid var(--page-background-color);
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: var(--shadow-color);
  cursor: pointer;
  border-radius: 30px;
  margin-left: -3px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: transform 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.itemInfoContainer {
  padding: 20pt;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.itemInfoContainer.hidden {
  display: block !important;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100pt);
}

.parkContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}

.park {
  margin: 0 0 0 5pt;
  transform: translate(0, -2pt);
}

.name {
  margin: 2pt 0 5pt 0;
}

.itemInfoContainer .description {
  margin: 5pt 0 10pt 0;
}

.itemInfoContainer p.property {
  margin: 0 0 5pt 0;
  font-weight: bold;
}

.itemInfoContainer p.property a {
  color: var(--primary-text-color);
  text-decoration: underline;
}

.itemInfoContainer p span {
  font-weight: normal;
}

.itemInfoContainer .tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5pt;
  background: var(--content-background-color);
  border-radius: 5pt;
  padding: 5pt;
  margin: 10pt 0 10pt 0;
}

.itemInfoContainer .tags .label {
  margin: 0;
  font-weight: bold;
}

.itemInfoContainer .tags .tag {
  margin: 0;
  padding: 2pt 5pt;
  border-radius: 2.5pt;
  background: var(--page-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

.itemInfoContainer .tags .tag:hover {
  text-decoration: underline;
}

.itemInfoContainer .metadata {
  background: var(--content-background-color);
  width: 100%;
  padding: 10pt;
  border-radius: 10pt;
  margin-bottom: 10pt;
}

.itemInfoContainer .metadata p {
  margin: 0;
}

.itemInfoContainer .metadata .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemInfoContainer .metadata .header p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemInfoContainer .metadata .header .device {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.itemInfoContainer .metadata .header .device .make {
  margin-right: 5pt;
  background: var(--secondary-content-background-color);
  padding: 5pt;
  border-radius: 5pt;
}

.itemInfoContainer .metadata .content {
  margin-top: 10pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemInfoContainer .metadata .content p {
  border: 2pt solid var(--secondary-content-background-color);
  padding: 5pt;
  border-radius: 5pt;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15pt;
}

.buttonContainer button {
  width: 100%;
  background: var(--content-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 10pt;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 10pt 0;
  cursor: pointer;
  margin-bottom: 5pt;
  transition: 0.1s ease background;
}

.buttonContainer button:hover {
  background: var(--page-background-color);
}

@media only screen and (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40pt calc(100vh - 40pt);
  }

  main header {
    grid-column: 1 / 3;
  }

  .contentContainer .contentDisplay {
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .buttonContainer {
    height: 45pt;
  }
  .buttonContainer button {
    height: 100%;
  }
}