main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40pt;
}

header {
  width: 100%;
  height: 40pt;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 20pt;
  background: var(--content-background-color);
}

header i {
  --ggs: 1.5;
  cursor: pointer;
}

section {
  transition: all 0.2s ease;
}

.editor {
  width: 100%;
  height: 100%;
  padding: 20pt;
}

.editor .articleInfo {
  background: var(--content-background-color);
  width: calc(100% - 20pt);
  max-width: 800pt;
  height: 200pt;
  border-radius: 10pt;
  padding: 15pt;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.editor .articleInfo .thumbnail img {
  width: auto;
  height: auto;
  max-height: 150pt;
  max-width: 260pt;
  border-radius: 5pt;
}

.editor .articleInfo .thumbnail iframe {
  height: 100%;
  width: auto;
}

.editor .articleInfo .textContainer {
  margin-left: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.editor .articleInfo .textContainer * {
  margin: 2.5pt 0 2.5pt 0;
}

.editor .articleEditor {
  max-width: 500pt;
  padding: 20pt;
  margin: auto;
}

.properties .selectContainer {
  position: relative;
}

.properties .selectContainer i {
  position: absolute;
  top: 50%;
  right: 10pt;
  transform: translateY(-50%);
  pointer-events: none;
}

.properties select {
  background: var(--content-background-color);
  appearance: none;
  font: inherit;
  padding: 5pt;
  border-radius: 5pt;
  cursor: pointer;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fields>* {
  width: 100%;
  border-radius: 5pt;
  transition: all 0.2s ease;
}

.properties>*:not(.selectContainer),
.properties select,
.fields input,
.fields textarea {
  width: 100%;
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  padding: 5pt;
  font: inherit;
  transition: all 0.2s ease;
}

.properties *:focus,
.fields *:focus {
  outline: none;
}

.properties>*:not(.selectContainer):hover,
.properties>*:not(.selectContainer):focus,
.properties select:hover,
.fields :not(.container):hover,
.fields :not(.container):focus {
  background: var(--content-background-color) !important;
}

.properties #title,
.properties #subtitle {
  resize: none;
  overflow-y: hidden;
  min-height: 0;
}

.properties #title {
  margin: 10pt 0 2.5pt 0;
  font-size: 25pt;
  font-weight: bold;
}

.properties #subtitle {
  margin: 0 0 5pt 0;
  font-size: 15pt;
  font-style: italic;
}

.fields textarea {
  resize: vertical;
  min-height: 100pt;
}

.fields .header {
  margin: 15pt 0 5pt 0;
  font-size: 20pt;
  font-weight: bold;
}

.fields .subheader {
  margin: 5pt 0 5pt 0;
  padding: 2.5pt 5pt;
  font-size: 15pt;
  font-style: italic;
}

.fields .header+.subheader {
  margin-top: -2.5pt;
}

.fields .quote {
  margin: 5pt 0 2.5pt 0;
  padding: 2.5pt 5pt;
  font-size: 15pt;
  font-style: italic;
}

.fields .author {
  margin: 0 0 5pt 0;
  padding: 2.5pt 5pt;
  font-size: 12pt;
  text-align: end;
  width: fit-content;
  float: right;
}

.fields .divider {
  margin: 10pt 0 10pt 0;
  width: 100%;
  height: 3pt;
  border-radius: 1.5pt;
  background: var(--secondary-text-color);
}

.addContentField {
  background: var(--content-background-color);
  margin: 10pt 0 20pt 0;
  padding: 5pt 10pt;
  border-radius: 5pt;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.addContentField .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5pt;
  transform: translate(0, 1pt);
}

.addContentField p {
  margin: 0;
}

.addSection div p {
  margin: 0;
}

.editor .articleEditor .actions {
  display: flex;
  justify-content: space-between;
}

.editor .articleEditor .actions div {
  display: flex;
}

.editor .articleEditor .actions button {
  background: var(--content-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 10pt 15pt;
  cursor: pointer;
  margin-bottom: 5pt;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.editor .articleEditor .actions button:hover {
  background: var(--page-background-color);
  color: var(--primary-text-color);
}

.editor .articleEditor .actions .danger button {
  background: var(--destructive-color);
  color: white;
}

.editor .articleEditor .actions .danger button:hover {
  background: var(--content-background-color);
  color: var(--primary-text-color);
}

.editor .articleEditor .actions button .icon {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor .articleEditor .actions button span {
  margin-left: 2pt;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indeterminate .loadingAnimationEllipses {
  transform: scale(0.7);
}