main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40pt;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20pt;
  background: var(--content-background-color);
  z-index: 2;
}

header i {
  --ggs: 1.5;
  cursor: pointer;
}

header .articleID {
  cursor: pointer;
  margin: 0;
}

header .articleID span {
  font-weight: bold;
}

section {
  transition: all 0.2s ease;
}

.editor {
  max-width: 500pt;
  height: 100%;
  padding: 20pt;
}

.editor .thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 5pt;
}

.properties .selectContainer {
  position: relative;
}

.properties .selectContainer i {
  position: absolute;
  top: 50%;
  right: 10pt;
  transform: translateY(-50%);
  pointer-events: none;
}

.properties select {
  background: var(--content-background-color);
  appearance: none;
  font: inherit;
  padding: 5pt;
  border-radius: 5pt;
  cursor: pointer;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fields>* {
  width: 100%;
  border-radius: 5pt;
  transition: all 0.2s ease;
}

.properties>*:not(.selectContainer),
.properties select,
.fields input,
.fields textarea {
  width: 100%;
  background: var(--page-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  padding: 5pt;
  font: inherit;
  transition: all 0.2s ease;
}

.properties *:focus,
.fields *:focus {
  outline: none;
}

.properties>*:not(.selectContainer):hover,
.properties>*:not(.selectContainer):focus,
.properties select:hover,
.fields :not(.container):hover,
.fields :not(.container):focus {
  background: var(--content-background-color) !important;
}

.properties #title,
.properties #subtitle {
  resize: none;
  overflow-y: hidden;
  min-height: 0;
}

.properties #title {
  margin: 10pt 0 2.5pt 0;
  font-size: 25pt;
  font-weight: bold;
}

.properties #subtitle {
  margin: 0 0 5pt 0;
  font-size: 15pt;
  font-style: italic;
}

.fields textarea {
  resize: vertical;
  min-height: 100pt;
}

.fields .header {
  margin: 15pt 0 5pt 0;
  font-size: 20pt;
  font-weight: bold;
}

.fields .subheader {
  margin: 5pt 0 5pt 0;
  padding: 2.5pt 5pt;
  font-size: 15pt;
  font-style: italic;
}

.fields .header+.subheader {
  margin-top: -2.5pt;
}

.fields .imageContainer {
  margin: 5pt 0;
}

.fields .imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 5pt;
}

.fields .quote {
  margin: 5pt 0 2.5pt 0;
  padding: 2.5pt 5pt;
  font-size: 15pt;
  font-style: italic;
}

.fields .author {
  margin: 0 0 5pt 0;
  padding: 2.5pt 5pt;
  font-size: 12pt;
  text-align: end;
  width: fit-content;
  float: right;
}

.fields .divider {
  margin: 10pt 0 10pt 0;
  width: 100%;
  height: 3pt;
  border-radius: 1.5pt;
  background: var(--secondary-text-color);
}

.addContentField {
  background: var(--content-background-color);
  margin: 10pt 0 20pt 0;
  padding: 5pt 10pt;
  border-radius: 5pt;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.addContentField .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5pt;
  transform: translate(0, 1pt);
}

.addContentField p {
  margin: 0;
}

.addSection div p {
  margin: 0;
}

.editor .actions,
.statusContainer .actions {
  display: flex;
  justify-content: space-between;
}

.editor .actions div,
.statusContainer .actions div {
  display: flex;
}

.editor .actions button,
.statusContainer .actions button {
  background: var(--content-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 10pt 15pt;
  cursor: pointer;
  margin-bottom: 5pt;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.editor .actions button:hover,
.statusContainer .actions button:hover {
  background: var(--page-background-color);
  color: var(--primary-text-color);
}

.editor .actions .danger button,
.statusContainer .actions .danger button {
  background: var(--destructive-color);
  color: white;
}

.editor .actions .danger button:hover,
.statusContainer .actions .danger button:hover {
  background: var(--content-background-color);
  color: var(--primary-text-color);
}

.editor .actions button .icon,
.statusContainer .actions button .icon {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor .actions button span,
.statusContainer .actions button span {
  margin-left: 2pt;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressContainer {
  height: calc(100% - 55pt);
}

.package_animation {
  height: 70%;
}

.noTransition * {
  transition: none !important;
  animation: none !important;
}

.statusContainer {
  height: 30%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.statusContainer h1,
.statusContainer h3,
.statusContainer p {
  margin: 0;
}

.statusContainer h1 {
  font-size: 30pt;
}

.statusContainer h3 {
  font-size: 15pt;
}

.statusContainer p {
  margin: 5pt 0;
}

.statusContainer .actions {
  position: absolute;
  bottom: 20pt;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.statusContainer .actions.hidden {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  display: flex !important;
}