main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40pt;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20pt;
  background: var(--content-background-color);
  z-index: 2;
}

header i {
  --ggs: 1.5;
  cursor: pointer;
}

header .itemID {
  cursor: pointer;
  margin: 0;
}

header .itemID span {
  font-weight: bold;
}

section {
  transition: all 0.2s ease;
}

.editor {
  max-width: 500pt;
  height: 100%;
  padding: 20pt;
}

.editor .itemInfo {
  background: var(--content-background-color);
  width: calc(100% - 20pt);
  max-width: 800pt;
  height: 200pt;
  border-radius: 10pt;
  padding: 15pt;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.editor .itemInfo .thumbnail img {
  width: auto;
  height: auto;
  max-height: 150pt;
  max-width: 260pt;
  border-radius: 5pt;
}

.editor .itemInfo .thumbnail iframe {
  height: 100%;
  width: auto;
}

.editor .itemInfo .textContainer {
  margin-left: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.editor .itemInfo .textContainer * {
  margin: 2.5pt 0 2.5pt 0;
}

.editor .itemEditor {
  max-width: 500pt;
  padding: 20pt;
  margin: auto;
}

.editor .itemEditor .properties .propertyContainer {
  margin: 5pt 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.editor .itemEditor .properties .propertyContainer.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10pt 0;
}

.editor .itemEditor .properties .propertyContainer.row button {
  margin: 0 0 0 10pt;
  background: var(--content-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  padding: 5pt;
  font: inherit;
  cursor: pointer;
  transition: all 0.2s ease;
}

.propertyContainer label {
  font-weight: bold;
}

.propertyContainer .textContainer p {
  margin: 0;
}

.propertyContainer .textContainer p:first-child {
  font-weight: bold;
  margin: 0 0 5pt 0;
}

.propertyContainer select~i {
  position: absolute;
  bottom: 14pt;
  right: 10pt;
  transform: translateY(50%);
  pointer-events: none;
}

.propertyContainer select {
  appearance: none;
  font: inherit;
  cursor: pointer;
}

.propertyContainer input,
.propertyContainer textarea,
.propertyContainer select {
  width: 100%;
  background: var(--page-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  padding: 5pt;
  font: inherit;
  transition: all 0.2s ease;
}

.propertyContainer *:focus {
  outline: none;
}

.propertyContainer input:hover,
.propertyContainer input:focus,
.propertyContainer textarea:hover,
.propertyContainer textarea:focus,
.propertyContainer select {
  background: var(--content-background-color) !important;
}

.properties #name,
.properties #description {
  resize: none;
  overflow-y: hidden;
  min-height: 0;
}

.properties #name {
  font-size: 25pt;
  font-weight: bold;
}

.properties #description {
  font-size: 15pt;
  font-style: italic;
}

.propertyContainer textarea {
  resize: vertical;
  min-height: 100pt;
}

.editor .actions,
.statusContainer .actions {
  display: flex;
  justify-content: space-between;
}

.editor .actions div,
.statusContainer .actions div {
  display: flex;
}

.editor .actions button,
.statusContainer .actions button {
  background: var(--content-background-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5pt;
  font-family: inherit;
  font-weight: bold;
  font-size: 10pt;
  padding: 10pt 15pt;
  cursor: pointer;
  margin-bottom: 5pt;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.editor .actions button:hover,
.statusContainer .actions button:hover {
  background: var(--page-background-color);
  color: var(--primary-text-color);
}

.editor .actions .danger button,
.statusContainer .actions .danger button {
  background: var(--destructive-color);
  color: white;
}

.editor .actions .danger button:hover,
.statusContainer .actions .danger button:hover {
  background: var(--content-background-color);
  color: var(--primary-text-color);
}

.editor .actions button .icon,
.statusContainer .actions button .icon {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor .actions button span,
.statusContainer .actions button span {
  margin-left: 2pt;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressContainer {
  height: calc(100% - 55pt);
}

.package_animation {
  height: 70%;
}

.noTransition * {
  transition: none !important;
  animation: none !important;
}

.statusContainer {
  height: 30%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.statusContainer h1,
.statusContainer h3,
.statusContainer p {
  margin: 0;
}

.statusContainer h1 {
  font-size: 30pt;
}

.statusContainer h3 {
  font-size: 15pt;
}

.statusContainer p {
  margin: 5pt 0;
}

.statusContainer .actions {
  position: absolute;
  bottom: 20pt;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.statusContainer .actions.hidden {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  display: flex !important;
}