main section.auditLog {
  min-height: calc(100vh - 55pt);
}

main {
  overflow: auto;
}

.auditLog .loadingContainer,
.auditLog .resultsContainer,
.auditLog .errorMessageContainer {
  min-height: calc(100vh - 55pt);
}

.auditLog .loadingContainer,
.auditLog .errorMessageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auditLog .errorMessageContainer {
  flex-direction: column;
}

.auditLog .errorMessageContainer .title {
  margin: 0 0 10pt 0;
}

.auditLog .errorMessageContainer .subtitle {
  margin: 0;
}

.auditLog .resultsContainer {
  max-width: 700pt;
  margin: auto;
  padding: 0 10pt 10pt 10pt;
  display: grid;
  gap: 5pt;
  grid-template-columns: min-content min-content auto auto auto auto;
  grid-template-rows: 25pt;
  grid-auto-rows: min-content;
}

.auditLog .resultsContainer .header {
  display: contents;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
}

.auditLog .resultsContainer .logRow {
  display: contents;
  background: var(--content-background-color);
  border-radius: 5pt;
}

.auditLog .resultsContainer .logRow > * {
  padding: 5pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auditLog .resultsContainer .logRow button {
  margin: 0;
  padding: 0 5pt;
  border: none;
  background: var(--content-background-color);
  font: inherit;
  font-weight: bold;
  font-size: 10pt;
  border-radius: 5pt;
  cursor: pointer;
}

.auditLog .resultsContainer .loadMoreButton {
  background: var(--content-background-color);
  border-radius: 10pt;
  cursor: pointer;
  border: none;
  font: inherit;
  font-weight: bold;
}